<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Update</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

    <!--  Bootstrap 4.3.1  -->
    <link rel="stylesheet" href="/stylesheets/bootstrap-4.3.1.min.css">
    <!--  Font Awesome -->
    <link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.css">
    <!--  Awesome Bootstrap Checkbox  -->
    <link rel="stylesheet" href="/stylesheets/awesome-bootstrap-checkbox.css">
    <!--  Custom CSS  -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style>
      .register-logo {
        font-size: 69px;
        font-weight: 300;
        letter-spacing: -5px;
      }

      .terms-content {
        max-height: 200px;
        padding: 12px 20px;
        background-color: #f2f9fa;
        border: 1px solid #e7eaec;
        border-radius: 5px;
        font-size: 13px;
        overflow-y: auto;
      }
      .terms-content::-webkit-scrollbar {
        width: 6px;
      }
      .terms-content::-webkit-scrollbar-track {
        background: #f1f3f1;
      }
      .terms-content::-webkit-scrollbar-thumb {
        background: #34558B;
        border-radius: 3px;
      }
    </style>
  </head>
  <body>
    <section id="main-page" data-type="<%= type %>">
      <div class="container">
        <div class="row align-items-center justify-content-center min-vh-100">
          <div class="col-lg-8 py-5">
            <div class="text-center">
              <h3 class="register-logo mb-2 main-color-6-f">Register</h3>
              <p class="mb-5 main-color-3-f">Sign in to your account to continue.</p>
            </div>
            <div class="form-group mb-4">
            <% for (let i=0; i<agreementList.length; i++) { %>
              <div class="form-group form-terms">
                <div class="form-check abc-checkbox abc-checkbox-primary mb-1">
                  <% const id = "check-agreement-"+(i+1); %>
                  <input class="form-check-input" id="<%= id %>" type="checkbox" value="<%= agreementList[i].clause %>">
                  <label class="form-check-label" for="<%= id %>">"<strong class="principal"><%= agreementList[i].principle %></strong>" 에 대해 동의합니다.</label>
                </div>
                <div class="terms-content"><%= agreementList[i].content %></div>
              </div>
            <% } %>
            </div>
            <div class="row form-group">
              <div class="col-lg-6">
                <button class="btn btn-block btn-basic-reverse" id="btn-back" onclick="history.back()">Back</button>
              </div>
              <div class="col-lg-6">
                <button class="btn btn-block btn-basic" id="btn-register" data-toggle="modal" data-target="#modal-sign">Register</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="hidden loading-cover">
      <span class="loading-message">Pair Key 생성 중입니다.</span>
      <div class="spiner-example">
        <div class="sk-spinner sk-spinner-fading-circle">
          <div class="sk-circle1 sk-circle"></div>
          <div class="sk-circle2 sk-circle"></div>
          <div class="sk-circle3 sk-circle"></div>
          <div class="sk-circle4 sk-circle"></div>
          <div class="sk-circle5 sk-circle"></div>
          <div class="sk-circle6 sk-circle"></div>
          <div class="sk-circle7 sk-circle"></div>
          <div class="sk-circle8 sk-circle"></div>
          <div class="sk-circle9 sk-circle"></div>
          <div class="sk-circle10 sk-circle"></div>
          <div class="sk-circle11 sk-circle"></div>
          <div class="sk-circle12 sk-circle"></div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal-sign" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agreement Sign</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-12 flex">
                본 서비스 가입과 관련된 약관 및 동의 내용은 <strong class="main-color-3-f">trust-provider.org</strong>가 제공하는 블록체인에 안전하고 수정 불가능한 형태로 기록됩니다. 가입 시, 약관 및 동의 내역은 <strong class="main-color-3-f">trust-provider.org</strong>상에서 언제든 확인하실 수 있습니다.
                <small class="mt-2 font-weight-lighter" style="align-self: flex-end">Trust privided by <strong class="main-color-3-f">trust-provider.org'</strong>
              </div>
            </div>
            <div class="hr-line-dashed mx-n2"></div>
            <div class="row">
              <div class="col-lg-6">
                <div class="row justify-content-center flex-wrap">
                  <p class="mb-1 block text-center">Pair Key가 없는 경우</p>
                  <button type="button" class="btn btn-sm btn-basic" id="btn-create-key">Create Key</button>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row justify-content-center">
                  <p class="mb-1 block text-center">생성 했던 Pair Key가 있는 경우</p>
                  <button type="button" class="btn btn-sm btn-basic" id="btn-upload-key">Upload Key</button>
                  <input class="hidden" id="input-key" type="file" />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-basic" id="btn-sign">Sign</button>
          </div>
        </div>
      </div>
    </div>

    <!--  JQuery  -->
    <script src="/javascripts/jquery-1.12.4.min.js"></script>
    <!--  Bootstrap 4.3.1 JS  -->
    <script src="/javascripts/bootstrap-4.3.1.min.js"></script>
    <!--  Subtle Crypto  -->
    <script src="/javascripts/subtleCrypto.js"></script>
    <script>
      $(document).ready(function() {
        const pageType = $('#main-page').data("type");
        let agreement = { data: null, signature: null };
        let publicKey = null;

        // Create pair key
        $('#btn-create-key').on('click', async function() {
          $('.loading-message').text("Pair Key 생성 중입니다.");
          $('.loading-cover').removeClass("hidden");
          await generateKey();
          publicKey = await exportPublicKey();
          setTimeout(function() {
              exportPrivateKey();
          }, 500);
          $('.loading-cover').addClass("hidden");
        });

        // Upload pair key
        $('#btn-upload-key').on('click', function() {
          $('#input-key').click();
        });

        $('#input-key').on('change', function() {
          const reader = new FileReader();
          reader.readAsText(this.files[0]);
          reader.onload = async function() {
            await importPrivateKey(reader.result);
          };
        });

        // Sign button event
        $('#btn-sign').on('click', async function() {
          $('.loading-message').text("이용 약관 동의 내역을 저장하기 위해 블록을 생성 중입니다.");
          $('.loading-cover').removeClass("hidden");
          $('#modal-sign').modal('hide');

          // Signature Step
          let index = 0;
          const agreeState = {};
          // 동의 내역을 객체에 저장
          $('.form-terms').each(function() {
            agreeState[index] = {
              principal: $(this).find('.principal').text(),
              content: $(this).find('.terms-content').text(),
              state: $(this).find('.form-check-input').is(":checked")
            }
            index++;
          });
          agreement.data = agreeState;
          agreement.signature = await createSignature(JSON.stringify(agreement.data));

          // Register Step
          const data = {
            agreement: agreement,
            publicKey: publicKey
          };

          if (pageType === "register") {
            $.ajax({
              type: "POST",
              url: "/register",
              data: "data="+encodeURIComponent(JSON.stringify(data)),
              success: function(res) {
                if (res.result) {
                  $('.loading-cover').addClass("hidden");
                  alert(res.message);
                  location.href = "/login";
                } else {
                  alert("[Error]\r\n" + res.message);
                }
              }
            });
          } else {
            $.ajax({
              type: "POST",
              url: "/update/agreement",
              data: "data="+encodeURIComponent(JSON.stringify(data)),
              success: function(res) {
                if (res.result) {
                  $('.loading-cover').addClass("hidden");
                  alert(res.message);
                  location.href = "/";
                } else {
                  alert("[Error]\r\n" + res.message);
                }
              }
            });
          }
        });

      });
    </script>
  </body>
</html>
